.comment-meta {
    text-align: right;
}

.comment-meta-group-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: end;
}

.comment-name {
    color: var(--name-dim-color);
}

.comment-name::after {
    content: ">";
}

.comment-message {
    display: inline;
    font-family: monospace;
    color: var(--dim-color);
}

.comment-message::before {
    content: "   ";
    display: inline;
}

time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

time * {
    color: var(--dim-color);
}