.write-container {
    text-align: center;
}

.write button:hover {
    color: var(--dim-color);
}

.group-name-button {
    text-align: end;
}

.group-name {
    display: flex;
    justify-content: end;
}

.group-message {
    display: flex;
}

input[type=text], textarea {
    border: none;
    padding: 0;
    margin: 0;
    height: 1.5rem;
}

/*
    Disable default focus effect on text inputs
    (not great for accessibility !)
 */
input[type=text]:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

input[type=text] {
    color: var(--name-color);
    width: 8.6rem;
    text-align: right;
}

.name-separator {
    user-select: none;
    color: var(--name-color);
    animation: blink 0.5s infinite alternate ease-in-out;
}

textarea {
    font-family: monospace;
    resize: none;
}

@keyframes blink {
    from {
        opacity: 100%;
    }
    to {
        opacity: 33%;
    }
}