form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

input[type=text], textarea {
    border: none;
    padding: 0;
    margin: 0;
    height: 1.5rem;
}

input[type=text] {
    color: orange;
    width: 8.6rem;
    text-align: right;
}

.name-separator {
    color: orange;
}

textarea {
    resize: none;
}

button {
    border: none;
    padding: 0;
    background: none;
    text-decoration: underline;
}