section.write {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
}

input[type=text], textarea {
    border: none;
    padding: 0;
    margin: 0;
    height: 1.5rem;
}

input[type=text] {
    color: var(--name-color);
    width: 8.6rem;
    text-align: right;
}

.name-separator {
    color: var(--name-color);
}

textarea {
    resize: none;
}