:root {
  --text-color: #ffffff;
  --name-color: orange;
  --name-dim-color: ffaaaa;
  --verified-color: palegreen;
  --dim-color: #7c7c7c;
  --good-color: green;
  --bad-color: red;

  --text-glow-x: 0rem;
  --text-glow-y: 0rem;
  --text-glow-blur: 0.25rem;
  --text-glow: var(--text-glow-x) var(--text-glow-y) var(--text-glow-blur);

  --background-color: #111;

  --grid-layout-mobile: 9.5rem 1fr;
  --grid-layout-desktop: 20rem 1fr;;

  font-family: monospace;
  /*font-size: clamp(0.8125rem, 2vw, 1.1875rem);*/
  font-size: clamp(0.8125rem, 2vw, 1.375rem);
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
  text-shadow: var(--text-glow);
  /*outline: 1px solid red;*/
}

.grid-layout {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: var(--grid-layout-mobile);
}

@media screen and (min-width: 74rem) {
  .grid-layout {
    grid-template-columns: var(--grid-layout-desktop);
  }
}


/*
  TODO : Find a way to hide focus box on click / show only on tab
 */
:focus-visible {
  /*outline: 1px dashed var(--text-color);*/
  outline: none;
  box-shadow: inset var(--text-glow), var(--text-glow);
}

:focus:not(:focus-visible)
{
  outline: none;
}

.container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
}

section {
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
  text-decoration: underline;
}

.info{
  color: var(--dim-color);
}

.error {
  color: var(--bad-color);
}

.success {
  color: var(--good-color);
}

.hidden {
  display: none;
}

.section-title {
  font-family: monospace;
  font-weight: normal;
  font-size: 100%;
  margin-left: 2rem;
}



/*
  CRT Effect, adapted from : https://aleclownes.com/2017/02/01/crt-display.html
  and https://dev.to/ekeijl/retro-crt-terminal-screen-in-css-js-4afh
 */
.crt::before, .crt::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.crt::before {
  /*
    Scanlines
   */
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%),
  linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 4px, 6px 100%;
  z-index: 2;
  animation: hue infinite 5s linear;
}

.crt::after {
  /*
    Shadow and sheen
   */
  /*background-blend-mode: lighten;*/
  background: radial-gradient(closest-corner, transparent, transparent, transparent, black),
              radial-gradient(circle at 80% 20%, rgba(255,255,255, 5%), transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  box-shadow : inset 0 0 0.5rem 0.5rem #222;
  z-index: 3;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}